django>=4.2
Pillow>=10.0
numpy>=1.24
gunicorn==23.0.0
# scikit-learn>=1.3   # uncomment if your pkl is a sklearn model
# torch>=2.0          # uncomment if your pkl is a PyTorch model
# opencv-python>=4.8  # uncomment if your model needs cv2
